
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Header {
  font-weight: 700;
  box-sizing: border-box;
  margin-top: 4rem;
  font-family: 'Montserrat', cursive;
  height: max-content;
  position: relative;
  border: 1px black;
  border-style: solid none solid none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner-container {
  position: relative;
  width: 100%;
}

.Header-banner-description {
  
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.Header-banner {
  font-weight: 700;

}

.Account-card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.Section-title {
  text-align: left;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Account-button {
  width: 10rem;
  text-align: left;

}

.Card-title {
  text-align: left;
  margin-left: 1rem;
  font-size: 22px;
  font-weight: bolder;
  width: 100%;
}

.card-container {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: start; 
}

.Card-content {
  margin-left: 1rem;
  text-align: left;
}
.Account-Balance {
  font-weight: bold;
  overflow-x: hidden;
  text-align: right;
  height: auto;
}

.Sections-container {
  min-height: 100vh;

}

.Section-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

.Subsection-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
@media (max-width: 767px) {
  .Subsection-container {
      display: grid;
      grid-template-columns: 1fr;
  
    }
}



/* CSS */
.view-button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.view-button:hover,
.view-button:focus {
  background-color: #07c;
}

.view-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.view-button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.Account-name {
  display: flex;
  gap: 1rem;
}